html{
  overflow-x: hidden;
}
body {
  font-family: "montserrat";
}
#title {
  background-color: #ff4c68;
}
.nav-link {
  color: white !important;
  text-shadow: 1px 0px 0px #fff;
}
.nav-link:hover {
  color: #fff !important;
  text-shadow: 1px 0px 0px #fff;
}
.first-header {
  font-family: "montserrat", "sans-serif";
  font-size: 2.7rem;
  line-height: 1.5;
  font-weight: 800;
  color: white;
}
.container-fluid {
  padding: 3% 15%;
}
.first-section {
  padding-bottom: 6%;
}
.img-header {
  width: 13rem;
  transform: rotate(20deg);
  position: absolute;
  left: 55%;
}
/* Navigation Bar */
.navbar {
  padding-bottom: 3.5rem !important;
  margin: 0rem -1rem !important;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 0.5rem;
}
.nav-link {
  font-family: "montserrat";
  font-weight: 300;
}
/* download Button */
.download-button {
  margin: 5% 3% 5% 0 !important;
}
/* features */
.second-row {
  padding-top: 7rem;
  margin: 0rem -7rem 6rem -8rem !important;
}
@media (max-width: 991px) {
  .first-section {
    text-align: center;
    padding-bottom: 13rem;
  }
  .img-header {
    width: 10rem;
    transform: rotate(0);
    margin-top: 1rem;
    position: absolute;
    left: 40%;
  }
  .first-header {
    font-size: 2.3rem;
  }
  .features-section {
    position: static;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-bottom: 15%;
  }
  .testimonial-text {
    font-size: 2rem !important;
  }
  #press {
    transform: scale(1.3);
    padding: 1rem 7rem 3rem !important;
  }
  .cta-header {
    font-size: 2rem !important;
  }
  .cta-button {
    scale: 0.8;
    margin: 0rem -0.5rem !important;
  }
}
@media (min-width: 500px) and (max-width: 575px) {
  #press {
    display: none;
  }
}
.second-header {
  font-family: "Alegreya";
  font-size: 2rem;
  text-align: center;
}
.second-paragraph {
  font-family: "jost";
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
}
.icon {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #ff4c68;
}
/* testimonials section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-text {
  color: white;
  font-family: auto;
  font-weight: 700;
  line-height: 1.4;
  font-size: 2.2rem;
}
@media (min-width: 1200px) {
  .testimonial-text {
    font-size: 2.4rem;
  }
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 1.5rem 1rem;
}
hr {
  border: 2px double #fff;
  margin: -1rem -6rem 3rem;
}
#press {
  background-color: #ff6280;
  padding: 1rem 6rem 3rem;
}
.image-press {
  width: 100%;
}
.press-press {
  margin: 0 -2rem;
}
.card-title {
  font-family: auto;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1px;
}
.card-header {
  background-color: #dc3545;
  color: #fff;
}
.card-h {
  font-family: auto;
  font-weight: bold;
}

.card-text {
  font-weight: 400;
  font-family: "montserrat";
}
#pricing {
  text-align: center;
  font-family: "montserrat";
  margin-top: 5%;
}
.pricing-column {
  padding: 3% 2%;
}
.features-section {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
/* call to action */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 8% 2%;
  margin-top: 4%;
}
.cta-header {
  font-family: "montserrat", "serrif";
  font-size: 2.7rem;
  font-weight: 800;
  color: #fff;
  padding: 3% 13%;
  line-height: 1.6;
}
#footer {
  text-align: center;
  padding: 8% 1%;
}
.p-footer {
  font-family: "montserrat", sans-serif;
  font-size: large;
  font-weight: 600;
}
.footer-icons {
  padding: 2% 0.5%;
  color: #000;
}
.footer-icons:hover {
  color: #ff4c68;
}
.cta-button {
  margin: 0rem 0.5%;
  border-radius: 0%;
  padding: 1.5% 1.5%;
}
